//fonts 
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

//body
body {
  background: #ddeefc;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: #252525;
  margin-top: 60px;

}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  padding: 50px 15px;

  @media screen and (max-width: 700px),
  (max-height: 500px) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}


.nav.nav-tabs.nav-fill {
  background-color: #f5f5f5;
  border-radius: 8px;

  .nav-item {


    .nav-link {

      border: none !important;
      border-radius: 8px;

      font-size: 16px;
      color: #252525;

      font-weight: bold;



      &.active {



        background-color: #00dd90 !important;

        color: white;
      }
    }
  }

}

.tab-content {

  .tab-pane {
    text-align: left;
  }
}




.accordion-trigger-h3 {

  display: block;

  padding: 6px 10px 0 15px;


  .accordion-trigger-img {

    max-height: 30px;
  }

  .fa-chevron-right {

    position: absolute;

    top: 14px;

    right: 15px;
  }

}